.menu_content {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
  cursor: pointer;

  img {
    width: 50px;
  }

  &.selected {
    background-color: #D9B536;
    border-radius: 10px;
    color: white;
  }
}

.menu_content:hover {
  background-color: #D9B536;
  border-radius: 10px;
  color: white;
}