<section class="navbar container__layout">

  <div class="content_navbar">
    <div class="logo options" (click)="navigateToHome()">
      <img
        src="/assets/logo.png"
        alt="Logo"
        width="90px"
        height="90px" />
      <div class="options">
        @for (option of options; track $index) {
        <div (click)="navigation.forward(option.path)" class="title_header">
          {{ option.name }}
        </div>
        }
      </div>
    </div>

    <div class="login-cart">
      <div class="login pointer" (click)="onAuth()">
        <ion-icon name="person-outline" />
        @if (!session.user) {
        <p>
          Iniciar sesión
        </p>
        }@else {
        {{ session.user.fullName }}
        }
      </div>

      <div
        class="cart pointer"
        (click)="onCart($event)">
        <ion-icon class="cart-outline" name="cart-outline" />
      </div>
    </div>
  </div>

</section>