.content_navbar {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin: 0 auto;
   padding: 30px 0;
}

.logo {
   cursor: pointer;

   img {
      width: 90px;
      height: 90px;
   }
}

.options {
   display: flex;
   align-items: center;
   gap: 50px;

   .title_header {
      font-weight: 500;
      cursor: pointer;
   }

   .title_header:last-child {
      background-color: #F23545;
      border-radius: 20px;
      color: white;
      padding: 10px 25px;
   }

   .title_header:last-child:hover {
      background-color: #ef1628;
   }
}

.login-cart {
   display: flex;
   align-items: center;
   gap: 1rem;
}

.login {
   display: flex;
   align-items: center;
   gap: .5rem;
}

ion-icon {
   width: 32px;
   height: 32px;

   &.cart-outline {
      margin-top: .5rem;
   }
}