<section class="navbar container__layout">

  <div class="content_navbar">
    <div class="logo" (click)="navigateToHome()">
      <img src="/assets/logo.png" alt="Logo">
    </div>

    <div class="options">

      @for (option of options; track $index) {
      <div (click)="navigation.forward(option.path)" class="title_header">
        {{ option.name }}
      </div>
      }
    </div>


    <div  class="login-cart">

      <div *ngIf="!session.user" class="login pointer" (click)="onAuth()">
        <ion-icon name="person-outline" />
        <p>
          Iniciar sesión
        </p>
      </div>

      <div class="cart pointer" (click)="onCart($event)">
        <ion-icon class="cart-outline" name="cart-outline" />
      </div>
    </div>
  </div>

</section>