:host {
   z-index: 50;
   background-color: white;
   box-shadow: 0 10px 25px -5px rgb(0 0 0 / 0.1)
}

.content_navbar {
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   padding: .9rem 0;
   align-items: center;
}

.logo {
   cursor: pointer;

   img {
      width: 90px;
      height: 90px;
   }
}

.options {
   display: flex;
   gap: 2rem;
   flex: 1;
   justify-content: center;

   .option {
      cursor: pointer;
      font-size: 14px;
      height: auto;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      font-weight: 600;

      &:hover {
         color: #000000cb;
      }
   }
}

.login-cart {
   display: flex;
   align-items: center;
   gap: 1rem;

   .login {
      display: flex;
      align-items: center;
      gap: .5rem;

      .username {
         text-transform: capitalize;
         max-width: 100px;
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;
      }
   }

   .cart {
      position: relative;
      width: max-content;

      .virtual__box {
         position: absolute;
         width: 100%;
         height: 100%;
         background: transparent;
         top: 0;
         left: 0;
         z-index: 999;
      }

      .badge {
         position: absolute;
         top: 0;
         right: -8px;
         width: max-content;
         min-width: 18px;
         height: 18px;
         border-radius: 50%;
         font-size: .8rem;
         background: #DC5353;
         color: #fff;
         padding: 1px 4px;
         display: grid;
         place-content: center;
         z-index: 99;
         height: 18px;
         min-width: 18px;
         width: auto;
      }
   }
}


ion-icon {
   width: 32px;
   height: 32px;

   &.cart-outline {
      margin-top: .5rem;


   }
}