<section class="wrapper">

  <div class="button-expand" (click)="onToggle()">
      @if (expanded) {
        <ion-icon name="chevron-back-outline" />
      }@else{
        <ion-icon name="chevron-forward-outline" />
      }
  </div>

  <div class="sidebar" [ngClass]="{ 'hidden': !expanded }">
    <div class="sidebar-header">
      <h3>Admin</h3>
    </div>
    <div class="sidebar-content">
      <ul>
        <li>
          Categories
        </li>
        <li>
          Users
        </li>
        <li>
          Products
        </li>
        <li>
          Orders
        </li>
      </ul>
    </div>
  </div>

</section>