<section class="wrapper">

  <div class="button-expand" (click)="onToggle()">
      @if (expanded) {
        <ion-icon name="chevron-back-outline" />
      }@else{
        <ion-icon name="chevron-forward-outline" />
      }
  </div>

  <div class="sidebar" [ngClass]="{ 'hidden': !expanded }">
    <div class="sidebar-header">
      <h3>
        {{ expanded ? 'Admin' : '' }}
      </h3>
    </div>
    <div class="sidebar-content">
      <ul class="sidebar__options">
        @for (option of options; track $index) {
          <sidebar-option
            [option]="option"
            [expanded]="expanded"
            [(currentOptionId)]="currentOptionId"
            (onOptionClicked)="onOptionClicked($event)"
          />
        }
      </ul>

      <div class="sidebar-footer">
        <button
          class="btn btn-primary"
          (click)="onLogout()">
          <ion-icon name="log-out-outline" />
          Cerrar sesión
        </button>
      </div>
    </div>
  </div>

</section>