<header-mobile />

<main class="wrapper">

  <h2 class="title">
    <ion-icon
      (click)="onBack()"
      name="arrow-back-outline" />
    {{ title }} dirección
  </h2>

  <form class="col" [formGroup]="form">
    <div class="row">
      <select class="cursor-pointer" formControlName="district" id="district">
        <option readonly disabled selected>Distrito</option>
        <option value="chilca">Chilca</option>
        <option value="huancayo">Huancayo</option>
        <option value="el-tambo">El tambo</option>
      </select>

      <select class="cursor-pointer" formControlName="type" id="type">
        <option readonly disabled selected>Tipo de lugar</option>
        <option value="casa">Casa</option>
        <option value="departamento">Departamento</option>
        <option value="condominio">Condominio</option>
        <option value="hotel">Hotel</option>
        <option value="otros">Otros</option>
      </select>
    </div>

    <div class="row">
      <input
        inputValidator
        inputType="text"
        placeholder="Calle"
        formControlName="street">
    </div>

    <div class="row">
      <input
        inputValidator
        inputType="number"
        placeholder="Número de casa"
        formControlName="number">

      <input
        placeholder="Celular"
        formControlName="phone"
        maxlength="9">
    </div>

    <div class="row">
      <textarea
        name="reference"
        id="reference"
        cols="60"
        rows="10"
        placeholder="Referencia"
        maxlength="200"
        formControlName="reference">
      </textarea>
    </div>

  </form>

  <section class="buttons">
    <lib-button
      (onAction)="onSubmit()"
      class="button">
      @if(busy){
      <ion-spinner name="crescent" />
      }@else {
      {{ title }} dirección
      }
    </lib-button>

    <button
      (click)="onAddresses()"
      class="button__return">
      Volver
    </button>
  </section>
</main>

<fixed-footer>
  <lib-button
    (onAction)="onSubmit()"
    class="button">
    @if(busy){
    <ion-spinner name="crescent" />
    }@else {
    {{ title }} dirección
    }
  </lib-button>
</fixed-footer>