.wrapper {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 1rem;
  margin-top: .5rem;

  .title {
    margin-bottom: 4rem;
  }
}


.title {
  margin-block: 2rem;
}

input,
select,
textarea {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 10px;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  gap: 2rem;
  margin-top: 1rem;

  .button {
    width: 250px;
  }
}

.button_return {
  background-color: rgb(75, 75, 75);
  padding: auto;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 6px;
  color: #fff;
}

.button_return:hover {
  background-color: rgba(35, 35, 35, 1);
}