<main class="wrapper">

  <h2 class="title">
    Agregar dirección
  </h2>

  <section class="col">
    <div class="row">
      <select class="cursor-pointer" name="district" id="district">
        <option readonly disabled selected>Distrito</option>
        <option value="chilca">Chilca</option>
        <option value="huancayo">Huancayo</option>
        <option value="el-tambo">El tambo</option>
      </select>

      <select class="cursor-pointer" name="type" id="type">
        <option readonly disabled selected>Tipo de lugar</option>
        <option value="Casa">Casa</option>
        <option value="Departamento">Departamento</option>
        <option value="Condominio">Condominio</option>
        <option value="Hotel">Hotel</option>
        <option value="Otros">Otros</option>
      </select>
    </div>

    <div class="row">
      <input type="text" placeholder="Calle">
    </div>

    <div class="row">
      <input type="number" placeholder="Número de casa">
      <input type="tel" placeholder="Celular">
    </div>

    <div class="row">
      <textarea
        name="reference"
        id="reference"
        cols="60"
        rows="10"
        placeholder="Referencia"
        maxlength="200">
      </textarea>
    </div>

  </section>

  <section class="buttons">
    <lib-button
      (onAction)="addAddress()"
      class="button">
      Agregar dirección
    </lib-button>

    <button
      (click)="onAddresses()"
      class="button_return">
      Volver
    </button>
  </section>
</main>