<title-modal (onDismiss)="dialog.dismiss('cancel')">
  Seleccionar dirección
</title-modal>

<section class="modal__container scroll">
  @if (!busy) {
  <ion-radio-group class="addresses" [(ngModel)]="address.id">
    @for (address of addresses(); track $index) {
    <article class="address" (click)="onSelect(address)">
      <ion-radio [id]="'address__' + address.id" [value]="address.id" />
      <div class="address__content">
        <p class="bold">
          {{ address.street }}, {{ address.number }} - {{ address.district }}
        </p>
        <p> {{ address.phone }} </p>
        <p> {{ address.type }} </p>
      </div>
    </article>
    }@empty {
    <section class="empty">
      <span class="empty__icon">
        😪
      </span>
      <p class="empty__label">
        No hay direcciones registradas
      </p>
      <button
        class="empty__button"
        (click)="onAddAddress()"
        aria-label="Crear dirección">
        <ion-icon name="add-outline" />
        Crear dirección
      </button>
    </section>
    }
  </ion-radio-group>
  }@else{
  <ion-spinner name="dots" />
  }
</section>