.modal__container {
  padding: 1rem;

  .addresses {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .address {
      display: flex;
      gap: 1rem;
      cursor: pointer;
      box-shadow: 0 0 10px rgba(0, 0, 0, .1);
      border-radius: 1rem;
      padding: .5rem;

      &:active {
        scale: .98;
      }

      &__content {
        display: flex;
        flex-direction: column;
        gap: .5rem;
      }
    }
  }

  .empty {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__icon {
      font-size: 4rem;
      margin: auto;
    }

    &__label {
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
    }

    &__button {
      display: flex;
      gap: .5rem;
      margin: auto;
      width: max-content;
      padding: .5rem 1rem;
      border-radius: .5rem;
      margin-top: 1rem;
      background-color: #000;
      color: #fff;
      font-weight: 600;

      &:active {
        scale: .97;
      }
    }
  }
}