.title-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 15px;
  padding-inline: 10px;
  border-bottom: 1px solid black;

  & .title {
    font-weight: 500;
    font-size: 1.2rem;
  }

  & .close-container {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F23545;

    .close-button {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      filter: invert(1);
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 1rem 1rem 1rem;
}