<section class="wrapper">
  <div class="title-close">
    <div class="title">
      Tu carrito
    </div>

    <div class="close-container">
      <div class="close-button" (click)="onDismiss()">
        <ion-icon
          name="close-outline"
        />
      </div>
    </div>
  </div>

  <div class="content">
    @for (product of products(); track product.id) {
    <shopping-cart-product
      [product]="product"
      [(quantity)]="product.quantity!" />
    }@empty {
      <div class="main_content">
    
        <div class="content_shopping-cart">
          <div>
            <p>El carrito de compras esta vacio</p>
          </div>
          <div>
            <img src="/assets/logo.png" alt="">
            <!-- <ion-icon class="cart-outline" name="cart-outline" /> -->
          </div>
          <div>
            <p>Puedes volver a nuestra tienda virtual y agregar mas productos</p>
          </div>
        </div>
    
        <div class="button_order">
          <div>
            <lib-button
              (onAction)="onDismiss()"
            >
            ORDENAR AHORA
            </lib-button>
          </div>
        </div>
        
      </div>
    }

    @if (products().length >= 1) {
    <shopping-cart-footer
      [total]="total()"
      (onPay)="onPay()"
      (onDismiss)="onDismiss()" />
    }
  </div>
</section>