<section class="wrapper">
  <div class="title-close">
    <div class="title">
      Tu carrito
    </div>

    <div class="close-container" (click)="onDismiss()">
      <ion-icon
        name="close-outline" />
    </div>
  </div>

  <div class="content">
    @for (product of products(); track product.id) {
    <shopping-cart-product
      [product]="product"
      [(quantity)]="product.quantity!" />
    }@empty {
    <div class="empty">
      <img src="/assets/empty-cart.png" alt="Empty cart">
      No hay productos en tu carrito
    </div>
    }

    @if (products().length >= 1) {
    <shopping-cart-footer
      [total]="total()"
      (onPay)="onPay()"
      (onDismiss)="onDismiss()" />
    }
  </div>
</section>