<main class="main">

  <section class="panel_back">
    <auth-aside />
    <div class="name-logo">
      <img src="/assets/logo.png">
      <h2>Palacio Chino <br>Premium</h2>
    </div>
  </section>

  <section class="form-container">

    <div class="form shadow-2xl">
      <h2 class="title_form">
        Bienvenido
      </h2>

      <div class="inputs_form">
        <div class="form-input">
          <span>Correo electrónico</span>
          <input
            [(ngModel)]="email"
            type="email"
            placeholder="Correo electrónico">
        </div>

        <div class="form-input">
          <span>Contraseña</span>
          <input
            (keydown.enter)="onLogin()"
            [(ngModel)]="password"
            type="password"
            placeholder="Contraseña">
        </div>
      </div>

      <lib-button
        class="button-center"
        (onAction)="onLogin()">
        INICIAR SESIÓN
      </lib-button>

      <p class>¿Eres nuevo?</p>

      <div class="register_button">
        <button class="button active:scale-95" (click)="onAuth()">
          REGÍSTRATE
        </button>
      </div>

    </div>

  </section>

</main>
