<title-mobile (onBack)="onBack()">
  Login
</title-mobile>

<section class="form">
  <h2 class="form__title">
    Bienvenido
  </h2>

  <section class="inputs__form">
    <div class="form__input">
      <label
        class="form__label"
        for="email">
        Correo electrónico
      </label>
      <input
        (isValid)="validFields.email = $event"
        [(ngModel)]="email"
        id="email"
        inputType="email"
        inputValidator
        placeholder="Correo electrónico"
        type="email">
    </div>

    <div class="form__input password">
      <label
        class="form__label"
        for="password">
        Contraseña
      </label>
      <input
        (isValid)="validFields.password = $event"
        (keydown.enter)="onLogin()"
        [(ngModel)]="password"
        [type]="inputType"
        id="password"
        inputType="password"
        inputValidator
        placeholder="Contraseña">
      <ion-icon
        class="icon"
        (click)="onToggleInputType()"
        name="{{ inputType === 'password' ? 'eye-off-outline' : 'eye-outline'}}" />
    </div>
    <div></div>
  </section>

  <lib-button
    (onAction)="onLogin()"
    [disabled]="busy || areInvalidFields()">
    @if (busy) {
    <ion-spinner name="crescent" />
    }@else {
    INICIAR SESIÓN
    }
  </lib-button>

  <section class="errors">
    @for (error of errors; track $index) {
    <span class="text-red-600">
      {{ error }}
    </span>
    }
  </section>

  <section class="form__extra">

    <p class="form__extra__new">
      ¿Eres nuevo?
    </p>

    <button
      (click)="onAuth()"
      class="register__button">
      REGÍSTRATE
    </button>
  </section>
</section>