<title-mobile (onBack)="onBack()">
  Login
</title-mobile>

<section class="form">
  <h2 class="form__title">
    Bienvenido
  </h2>

  <section class="inputs__form">
    <div class="form__input">
      <label
        class="form__label"
        for="email">
        Correo electrónico
      </label>
      <input
        [(ngModel)]="email"
        id="email"
        placeholder="Correo electrónico"
        type="email">
    </div>

    <div class="form__input">
      <label
        class="form__label"
        for="password">
        Contraseña
      </label>
      <input
        (keydown.enter)="onLogin()"
        [(ngModel)]="password"
        id="password"
        placeholder="Contraseña"
        type="password">
    </div>
    <div></div>
  </section>

  <lib-button
    (onAction)="onLogin()"
    [disabled]="busy">
    @if (busy) {
    <ion-spinner name="crescent" />
    }@else {
    INICIAR SESIÓN
    }
  </lib-button>

  <section class="errors">
    @for (error of errors; track $index) {
    <span class="text-red-600">
      {{ error }}
    </span>
    }
  </section>

  <section class="form__extra">

    <p class="form__extra__new">¿Eres nuevo?</p>

    <button
      (click)="onAuth()"
      class="register__button">
      REGÍSTRATE
    </button>
  </section>
</section>