.checkout {
  display: flex;
  width: 100vw;
  height: 100vh;

  checkout-aside {
    display: none;
  }

  .title {
    display: none;
  }

  .checkout__content {
    flex: 1;
    margin-top: var(--header-mobile);
    padding: 0 1rem 1rem 1rem;
  }

  .checkout__content__detail {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  lib-button {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  title-mobile {
    display: none;
  }

  .checkout {

    checkout-aside {
      display: block;
      width: 20%;
    }

    .title {
      display: block;
    }

    .checkout__content {
      flex: 1;
      background-image: url('/assets/background-auth.png');
      background-repeat: no-repeat;
      background-size: cover;
      display: grid;
      place-content: center;
      margin-top: 0;
      padding: 0;
    }

    .checkout__content__detail {
      background: #fff;
      width: 450px;
      max-width: 500px;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      padding: 1rem;
      border-radius: .5rem;

      .title {
        font-size: 1.35rem;
        font-weight: 500;
      }
    }

  }

  lib-button {
    display: flex !important;
  }

  fixed-footer {
    display: none;
  }
}