<main class="checkout">
  <checkout-aside />

  <section class="checkout__content">
    <section class="checkout__content__detail">
      <h3 class="title">
        Detalles de pedido
      </h3>

      <checkout-address
        [(address)]="address" />

      <checkout-delivery-type />

      <lib-button
        (onAction)="onConfirm()"
        aria-label="Confirmar"
        class="button-center">
        @if (busy) {
        <ion-spinner name="crescent" />
        }@else {
        Finalizar compra
        }
      </lib-button>
    </section>
  </section>
</main>
