.product {
  display: flex;
  margin-bottom: 10px;
  gap: 2rem;

  &__image {
    width: 80px;
    height: 80px;

    img {
      max-width: 80px;
      max-height: 80px;
      border-radius: 8px;
      margin-inline: auto;
    }
  }

  &__info {
    margin-left: 10px;

    &__name {
      font-weight: bold;
    }

    &__quantity {
      font-style: italic;
    }

    &__price {
      font-weight: bold;
    }
  }
}