<article class="addresses__item">
   <div class="addresses__item__data">
     <img src="/assets/logo.png" alt="image-addresses">
     <div class="text">
      <span>Novia</span>
      <p>Jirón Inca Ripac, Chilca</p>
     </div>
   </div>
   <div class="addresses__item__details">
     <button class="buttons" role="button">
       Ver Detalles
     </button>
     <button class="buttons" role="button">
      Editar
    </button>
    <button class="buttons" role="button">
      Eliminar
    </button>
   </div>
 </article>
