<article class="address__item">
  <div class="address__item__details">
    <span>
      {{ address().street }}, {{ address().number }} - {{ address().district }}
    </span>
    <span>
      {{ address().type }}
    </span>
  </div>
  <div class="address__item__options">
    <button
      class="address__item__options__button"
      (click)="onEdit(address().id!)">
      <ion-icon name="create-outline" color="primary" />
    </button>
    <button
      class="address__item__options__button"
      (click)="onDelete()">
      @if (busy) {
      <ion-spinner name="crescent" />
      }@else {
      <ion-icon name="trash-outline" color="danger" />
      }
    </button>
  </div>
</article>