<main class="wrapper">

   <div class="title">
      <h2>Mis Pedidos</h2>
    </div>

    <p>13 de Julio del 2023</p>

    <div class="col">
      <div class="content_orders">
         <div class="row">
            <div class="order_data">
               <img src="/assets/logo.png" alt="image-product">
               <p>Chaufa Teriyaki Bañado en naranja </p>
               <p>S/ 28.90</p>
            </div>
            <div class="content_details">
               <p>Ver Detalles</p>
            </div>
         </div>
   
         <div class="row">
            <div class="order_data">
               <img src="/assets/logo.png" alt="image-product">
               <p>Chaufa Teriyaki Bañado en naranja </p>
               <p>S/ 28.90</p>
            </div>
            <div class="content_details">
               <p>Ver Detalles</p>
            </div>
         </div>

         <div class="row">
            <div class="order_data">
               <img src="/assets/logo.png" alt="image-product">
               <p>Chaufa Teriyaki Bañado en naranja </p>
               <p>S/ 28.90</p>
            </div>
            <div class="content_details">
               <button>Ver Detalles</button>
            </div>
         </div>

      </div>
      
    </div>

</main>
