<main class="flex w-full h-screen">

  <section class="w-1/4">
    <auth-aside />
  </section>

  <section class="form-container flex-1 flex items-center justify-center h-full">

    <div class="form shadow-2xl w-1/3 p-5 py-10 rounded-2xl bg-white">
      <h2 class="text-center text-2xl font-bold">
        Bienvenido
      </h2>

      <div class="flex flex-col mt-5">
        <span>Correo electrónico</span>
        <input type="email" class="border border-black rounded-md py-2 mt-2">
      </div>

      <div class="flex flex-col my-5">
        <span>Contraseña</span>
        <input type="password" class="border border-black rounded-md py-2 mt-2">
      </div>

      <lib-button title="INICIAR SESIÓN" type="fill" backgroundColor="#DC5353" />

      <p class="font-semibold text-center mt-10">¿Eres nuevo?</p>

      <button class="border border-black w-full mt-6 py-3 rounded-md active:scale-95">
        REGÍSTRATE
      </button>
    </div>

  </section>


</main>