<main class="main">

   <section class="panel_back">
     <auth-aside />
     <div class="name-logo">
         <img src="/assets/logo.png" alt="">
         <h2>Palacio Chino <br>Premium</h2>
     </div>
     <div></div>
   </section>
 
   <section class="form-container">
 
     <div class="form shadow-2xl">
       <h2 class="title_form">
         Registrate
       </h2>

       <p class="text_extra">¿Ya tienes cuenta? 
         <span (click)="onAuth()" id="log_in">Inicia Sesión</span>
      </p>
       
      <div class="inputs_form">
         <div class="form-input">
            <span>Nombres completos</span>
            <input type="text" placeholder="Nombres">
         </div>
   
         <div class="form-input">
            <span>Correo electrónico</span>
            <input type="email" placeholder="Correo electrónico">
         </div>

         <div class="form-input">
            <span>Contraseña</span>
            <input type="password" placeholder="Contraseña">
         </div>
   
         <div class="form-input">
            <span>Confirmar Contraseña</span>
            <input type="password" placeholder="Confirmar Contraseña">
         </div>
      </div>
      
      <p class="text_extra" id="data">Al registrarse autoriza el tratamiento de sus 
         <span>datos personales</span>
      </p>

      <div class="button_register">
         <lib-button
            title="REGISTRARME"
            type="fill"
            (onAction)="register()"
         />
      </div>
 
     </div>
 
   </section>
 
 
 </main>
