<section class="container">
  <div class="content">
    <h3 class="title">Direcciones</h3>

    <p class="label">
      Seleccione una direccion y si no tienes registrada una, agregue una
      direccion
    </p>

    @if (!busy) {
    <ion-radio-group class="addresses" [(ngModel)]="address.id">
      @for (address of addresses(); track $index) {
      <article class="address" (click)="onSelect(address)">
        <ion-radio [value]="address.id" />
        <div class="address__content">
          <p class="bold">
            {{ address.street }}, {{ address.number }} - {{ address.district }}
          </p>
          <p> {{ address.phone }} </p>
          <p> {{ address.type }} </p>
        </div>
      </article>
      }
    </ion-radio-group>
    }@else{
    <ion-spinner name="dots" />
    }
  </div>
</section>