.container {
  margin-inline: auto;

  .category-name {
    text-transform: uppercase;
    margin: auto;
    text-align: center;
    margin-top: 3rem;
    font-weight: bold;
    border-bottom: 1px solid #000;
    width: max-content;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 3rem;
    gap: 10px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin-top: 5rem;

    .products {
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .container {
    .products {
      grid-template-columns: repeat(5, 1fr);
    }
  }

}