<main class="container">

  <categories-menu />

  <h2 class="category-name">
    {{category()?.name }}
  </h2>

  <div class="products">
    @if (busy()) {
    <category-skeleton />
    }@else {
    @for (product of products(); track product.id) {
    <app-product-card
      [product]="product" />
    }
  }
</div>
@if (page <= lastPage && products().length > 0) {
<button
  role="button"
  (click)="getProductsByCategory()"
  class="load-more">
  @if (busy()) {
  <ion-spinner name="crescent" />
  }@else {
  Ver más
  }
</button>
}
</main>