<main class="wrapper">
  <h2>Mis direcciones</h2>
  <section class="content_address">
    <button class="add_address" (click)="addAddresses()">
      Agregar direcciones
    </button>
    <section class="col">
      <article class="row">
        <img src="/assets/logo.png" alt="">
        <div class="text">
          <span>Novia</span>
          <p>Jirón Inca Ripac, Chilca</p>
        </div>
        <div class="buttons">
          <button>
            Ver detalles
            <div class="capa_img">
              <img src="https://cdn-icons-png.flaticon.com/128/1/1755.png" alt="">
            </div>
          </button>
          <button>
            Editar
            <div class="capa_img">
              <img src="https://cdn-icons-png.flaticon.com/128/1159/1159633.png" alt="">
            </div>
          </button>
          <button>
            Eliminar
            <div class="capa_img">
              <img src="https://cdn-icons-png.flaticon.com/128/1214/1214428.png" alt="">
            </div>
          </button>
        </div>
      </article>
    </section>
  </section>
</main>
