<header-mobile />

<main class="wrapper">
  <h2 class="title">
    <ion-icon
      (click)="onBack()"
      class="icon-back"
      name="arrow-back-outline" />
    Mis Direcciones
  </h2>

  <section class="container">
    <section class="adresses">
      @for (address of addresses(); track $index) {
      <addresses-list-item
        [address]="address"
        (onDelete)="onDelete($event)"
        [(busy)]="busy" />
      }@empty {
      <p class="empty">No tienes direcciones guardadas</p>
      }
    </section>

    <lib-button
      (onAction)="onAddAddress()"
      class="button-add button-center">
      Agregar dirección
    </lib-button>
  </section>

</main>
