.modal__content {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.modal__content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}


.modal__content__header__item {
  flex: 1;
  text-align: center;
}


.modal__content__header__item__label {
  font-weight: bold;
}


.modal__content__header__item__value {
  font-style: italic;
}


.status__label {
  padding: 5px 10px;
  cursor: pointer;
}


.modal__content__body {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}