.menu {
   display: flex;
   gap: 1rem;
   margin-top: 5rem;
   overflow-x: scroll;
   padding-inline: 10px;

   &::-webkit-scrollbar {
      display: none;
   }
}

.menu-skeleton {
   width: 90px;
   height: 120px;
   border-radius: .5rem;
}

@media (min-width: 768px) {
   .menu {
      justify-content: center;
      gap: 3rem;
      margin-top: 10rem;
      overflow: hidden;
      padding-inline: 0;
   }
}