.menu {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   gap: 1rem;
   margin-top: 3rem;
   overflow-x: scroll;
   // padding-inline: 10px;

   &::-webkit-scrollbar {
      display: none;
   }
}

.menu-skeleton {
   width: 90px;
   height: 120px;
   border-radius: .5rem;
}


@media screen and (min-width: 501px) {
   .menu{
      gap: 2rem;
   }
}


@media screen and (min-width: 768px) {
   .menu {
      gap: 3rem;
      margin-top: 5rem;
      overflow: hidden;
   }
}