.order__item {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  border-radius: .5rem;
  cursor: pointer;

  &:hover {
    scale: .99;
  }

  & .order__title {
    font-weight: bold;
    font-size: 1.1rem;
  }
}