.menu_promotions {
   margin-block: 3rem;

   .title_menu {
      font-weight: bold;
      text-align: center;
      border-bottom: 1px solid black;
      width: fit-content;
      margin: auto;
      padding: 0 40px;
   }

   .cards-menu {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      margin-top: 60px;
   }

   .load-more {
      border: 2px solid #000;
      padding: 8px 16px;
      border-radius: 5px;
      margin-inline: auto;
      display: block;
      margin-block: 2rem;

      &:hover {
         background-color: #000;
         color: white;
      }
   }
}


@media (min-width: 768px) {
   .cards-menu {
      grid-template-columns: repeat(3, 1fr) !important;
   }
}

@media screen and (min-width: 1024px) {
   .cards-menu {
      grid-template-columns: repeat(5, 1fr) !important;
   }

   .banner_down {
      display: block;
   }
}