<!-- BANNER -->
<section class="banner">
  <div class="banner__container">
    <div class="banner__content">

    </div>
  </div>
</section>

<main class="home_content">

  <categories-menu />

  <!-- PROMOTIONS -->
  <div class="menu_promotions">
    <h2 class="title_menu">
      PROMOCIONES
    </h2>
    <section class="cards-menu">
      @for (product of promotions(); track product.id) {
      <app-product-card
        [product]="product" />
      }
    </section>

    @if (page <= lastPage) {
    <button
      role="button"
      (click)="getPromotions()"
      class="load-more">
      @if (busy) {
      <ion-spinner name="crescent" />
      }@else {
      Ver más
      }
    </button>
    }
  </div>
</main>