.home__container {

   & .menu {
      display: none;
   }

   & .menu_promotions {
      margin-block: 3rem;

      .title_menu {
         font-weight: bold;
         text-align: center;
         border-bottom: 1px solid black;
         width: fit-content;
         margin: auto;
         padding: 0 40px;
      }

      .cards-menu {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         gap: 1rem;
         margin-top: 60px;
      }
   }

   & .banner {
      background-image: url("/assets/banner-down.svg");
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 3rem;
      padding: 3rem;
      color: white;
      border-top-left-radius: 3rem;
      border-bottom-right-radius: 3rem;
      display: none;

      &__content {
         display: flex;
         flex-direction: column;
         gap: 3rem;
         width: 60%;

         h2 {
            font-weight: 700;
            font-size: 2rem !important;
         }
      }

      &__image {

         img {
            width: 200px;
         }
      }
   }

}

menu-chat-button {
   display: none;
}

@media screen and (min-width: 768px) {
   .menu_promotions {
      .cards-menu {
         grid-template-columns: repeat(3, 1fr);
      }
   }

   .banner {
      padding: 5rem;
      display: flex;
   }

   menu-chat-button {
      display: grid;
   }

}


@media screen and (min-width: 1024px) {
   .cards-menu {
      grid-template-columns: repeat(4, 1fr) !important;
   }

   .banner_down {
      display: block;
   }
}

@media screen and (min-width: 1440px) {
   .cards-menu {
      grid-template-columns: repeat(5, 1fr) !important;
   }
}