<article class="product">
  <div class="product__image">
    <img
      [src]="product().image | srcImage"
      [alt]="product.name">
  </div>

  <section class="product__content">
    <div class="name-delete">
      <span>
        {{ product().name }}
      </span>
      <ion-icon
        (click)="onRemove()"
        class="active:scale-95"
        name="trash-outline"
        color="danger" />
    </div>

    <div class="description">
      {{ product().description }}
      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    </div>

    <div class="price-quantity">
      <p class="total">
        S/{{ product().price * product().quantity!}}
      </p>

      <div class="quantity-container">
        <button (click)="substract()">
          -
        </button>
        <input
          quantityInput
          class="quantity-input"
          type="number"
          inputmode="decimal"
          [(ngModel)]="quantity"
          [(quantity)]="quantity"
          (onValueChange)="onValueChange()">
        <button (click)="add()">
          +
        </button>
      </div>
    </div>
  </section>
</article>