<main>

  <div class="menu_options">
    <section class="menu">
      @for (menuOption of menuOptions; track menuOption.id) {
      <div
        (click)="navigateToCategory(menuOption.id)"
        class="menu_content">
        <!-- ICON -->
        <img [src]="menuOption.icon" alt="icons-menu">
        <!-- NAME -->
        <p>
          {{ menuOption.name }}
        </p>
      </div>
      }
    </section>
  </div>

  <!-- PROMOTIONS -->
  <div class="menu_promotions">
    <h2 class="title_menu">
      PROMOCIONES
    </h2>
    <section class="cards-menu">
      @for (promotion of promotions; track promotion.id) {
      <!-- <app-product-card /> -->
      }
    </section>
  </div>

</main>