<header>
    <div (click)="onShoppingCart()" class="option cart">
        <span class="cart-count">
            {{ shoppingCartService.cart().length }}
        </span>
        <ion-icon class="cart-outline" name="cart-outline" />
    </div>

    <div (click)="onHome()" class="option logo">
        <img
            src="/assets/logo.png"
            alt="Logo Palacio Chino Premium" />
    </div>

    <div (click)="onUser()" class="option search">
        <ion-icon name="person-outline" />
    </div>
</header>