<header-mobile />

<section class="container__detail">
  <h2 class="title">
    <ion-icon
      (click)="onBack()"
      class="icon-back"
      name="arrow-back-outline" />
    Detalle de pedido
  </h2>

  <div class="row">
    <span class="bold">Estado: </span>
    <span class="status__label {{ order().status }}">
      {{ order().formatedStatus }}
    </span>
  </div>

  <div class="row">
    <span class="bold">Tipo de pedido: </span>
    <span>
      {{ order().formatedDeliveryType}}
    </span>
  </div>

  @if (order().deliveryType === 'delivery') {
  <div class="row">
    <span class="bold">Método de pago: </span>
    <span>
      {{ order().formatedPaymentMethod }}
    </span>
  </div>
  }

  @if(order().address){
  <div class="row">
    <span class="bold">Dirección: </span>
    <span>
      {{ order().address.street }}, {{ order().address.number }} - {{
      order().address.district}}
    </span>
  </div>
  }

  <section class="products">
    <p class="products__title">
      Productos
    </p>
    <div
      class="products__content">
      @for (product of order().products; track $index) {
      <order-detail-product [product]="product" />
      }
    </div>
  </section>
</section>