.container__detail {
  margin-top: var(--header-mobile);
  padding: 1rem;

  .title {
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.bold {
  font-weight: bold;
}

.row {
  margin-top: 1rem;
}

.products {
  margin-top: 1rem;

  &__title {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
  }

  &__content {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: .9rem;
  }
}

.change__status__btn {
  font-size: 14px;
  color: #0375f8;
  cursor: pointer;
  float: inline-end;
}

@media screen and (min-width: 768px) {
  header-mobile {
    display: none;
  }

  .title {
    ion-icon {
      display: none;
    }
  }

  .container__detail {
    margin-top: 0;
    padding: 0;
  }
}