.shopping-cart {
  --width: 450px;
  --max-height: 65%;
  // --max-height: 75%;
  // --max-height: fit-content;

  app-shopping-cart {
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 5px;
      display: block;
    }

    &::-webkit-scrollbar-thumb {
      background: #acacac;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background: #fff;
    }
  }
}

.chat-popover {
  --width: 400px;
}