.pointer {
  cursor: pointer;
}

.scroll {
  overflow-x: hidden;
  padding: 0;

  &::-webkit-scrollbar {
    display: none;
  }

  &:hover {
    &::-webkit-scrollbar {
      width: 5px;
      display: block;
    }

    &::-webkit-scrollbar-thumb {
      background: #acacac;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background: #fff;
    }
  }
}

.text-delete {
  color: #ff0000;
}


.load-more {
  border: 2px solid #000;
  padding: 8px 16px;
  border-radius: 5px;
  margin-inline: auto;
  display: block;
  margin-block: 2rem;

  &:hover {
    background-color: #000;
    color: white;
  }
}