.pointer {
  cursor: pointer;
}

.scroll {
  overflow-x: hidden;
  padding: 0;

  &::-webkit-scrollbar {
    width: 5px;
    display: block;
  }

  &::-webkit-scrollbar-thumb {
    background: #acacac;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
  }
}