.layout {
  display: flex;

}

app-admin-sidebar {
  width: 11%;
  transition: width 0.3s ease-in-out;
  display: none;

  &.expanded {
    width: 15%;
    display: grid;
  }

}

.body{
  padding: 20px;
}

.layout__content {
  flex: 1;
  // padding: 20px;
}

@media screen and (min-width: 768px) {
  app-admin-sidebar {
    display: block;
  }
}
