<footer class="footer">
  <div class="line-red-footer"></div>

  <div class="container__layout">

    <section class="contend_footer_first">
      <div class="logo">
        <img
          src="/assets/logo.png"
          alt="Logo"
          height="90px"
          height="90px" />
      </div>

      <section class="options">
        <!-- MENU -->
        <div class="option">
          <p class="title pointer">MENÚ</p>
          <ul class="list">
            @for (category of categories(); track category.id) {
            <li
            (click)="onCategory(category.id!)"
            class="capitalize pointer hover:text-zinc-400">
              {{ category.name }}
            </li>
            }
          </ul>
        </div>

        <!-- MY ACCOUNT -->
        <div class="option">
          <p class="title pointer">MI CUENTA</p>
          <ul class="list">
            @for (item of account; track $index) {
            <li
              (click)="item.method()"
              class="pointer hover:text-zinc-400">
              {{ item.name }}
            </li>
            }
          </ul>
        </div>

        <!-- INFORMATION -->
        <div class="option">
          <p class="title pointer">INFORMACIÓN</p>
          <ul class="list">
            @for (item of information; track $index) {
            <li
              (click)="item.method()"
              class="pointer hover:text-zinc-400">
              {{ item.name }}
            </li>
            }
          </ul>
        </div>

      </section>

      <div class="line"></div>

      <section class="extra">
        <!-- PAYMENT METHODS -->
        <div class="payment_methods">
          <p class="title">FORMAS DE PAGO</p>
          <div class="img_payment">
            <img
              class="img_payment__provider"
              width="40px"
              height="28px"
              src="/assets/visa.svg"
              alt="Visa" />
            <img
              class="img_payment__provider"
              width="40px"
              height="28px"
              src="/assets/mastercard.svg"
              alt="Mastercard" />
            <img
              class="img_payment__provider"
              width="40px"
              height="28px"
              src="/assets/american-express.svg"
              alt="American Express" />
          </div>
        </div>

        <!-- FOLLOW US -->
        <div class="follow_us">
          <p class="title">SIGUENOS</p>
          <div class="img_follow">
            <a
              title="Facebook"
              href="https://www.facebook.com/chifapalaciochinopremium/"
              target="_blank">
              <ion-icon
                name="logo-facebook" />
            </a>
            <a
              title="Whatsapp"
              href="https://api.whatsapp.com/send/?phone=979024975&text&type=phone_number&app_absent=0"
              target="_blank">
              <ion-icon
                name="logo-whatsapp" />
            </a>
          </div>
        </div>
      </section>

    </section>

    <section class="contend_footer_second">
      <p>© {{ year }} Chifa Palacio Chino Premium - Todos los derechos
        reservados.</p>
    </section>

  </div>

</footer>
