.footer {
   background-color: rgba(32, 32, 32, 1);
   position: relative;
   padding: 2rem 0 1rem 0;
   margin-top: 50px;
   padding-inline: 1rem;

   .line-red-footer {
      background-color: #DC5353;
      height: 2px;
      position: absolute;
      top: 5px;
      left: 0;
      width: 100%;
   }

   .container__layout {

      .contend_footer_first {
         display: flex;
         justify-content: space-between;
         flex-direction: column;
         align-items: center;
         gap: 50px;

         .logo {
            width: 150px;
            margin-block: auto;

            img {
               width: 100%;
            }
         }

         .options {
            display: flex;
            flex-direction: row;
            gap: 2rem;
            flex-wrap: wrap;
            justify-content: center;

            .option {
               .list {
                  display: flex;
                  flex-direction: column;
                  gap: .5rem;
               }
            }
         }

         .line {
            background-color: rgb(247, 247, 247);
            width: 2px;
            display: none;
         }

         .extra {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2rem;

            .payment_methods {
               .img_payment {
                  display: flex;
                  justify-content: flex-start;
                  gap: 1rem;

                  .img_payment__provider {
                     width: 40px;
                  }
               }
            }


            .img_follow {
               display: flex;
               justify-content: flex-start;
               gap: 1rem;

               ion-icon {
                  font-size: 32px;

                  &:hover {
                     color: #a1a1aa;
                  }
               }
            }
         }
      }

      .contend_footer_second {
         display: flex;
         justify-content: space-between;
         padding-top: 3rem;
         flex-direction: column;
         text-align: center;
      }
   }

   .title {
      font-weight: 600;
      margin-bottom: 10px;
   }
}


//RESPONSIVE

@media screen and (min-width: 501px) {
   .footer{
      padding-inline: 0 !important;
   }
   
   .options,
   .extra {
      gap: 3rem !important;
   }
   .title {
      padding-bottom: 1rem;
   }
}


@media screen and (min-width:768px) {
   .options,
   .extra {
      gap: 7rem !important;
   }

}


@media screen and (min-width: 1024px) {
   .contend_footer_first{
      flex-direction: row !important;
      align-items: flex-start !important;
      
      // .logo{
      //    width: 120px !important;
      // }

      .options{
         flex-wrap: nowrap !important;
         gap: 4rem !important;
      }
      .extra{
         flex-direction: column !important;
         flex-wrap: nowrap !important;
         gap: 2rem !important;
      }
   }

   // .line{
   //    display: block !important;
   // }
}

@media screen and (min-width: 1214px) {
   .contend_footer_first{
      .options{
         gap: 8rem !important;
      }
   }
}


@media screen and (min-width: 1640px) {

}