.footer{
   background-color: rgba(32, 32, 32, 1);
   position: relative;
   padding: 60px 0;

}

.line-red-footer {
   background-color: #DC5353;
   height: 2px;
   // margin-bottom: 20px;
   position: absolute;
   top: 5px;
   left: 0;
   width: 100%;
}

.contend_footer_first {
   display: flex;
   justify-content: space-between;
}

.logo {
   width: 150px;

   img {
      width: 100%;
   }
}

.options {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 100px;

   ul {
      li {
         padding-top: 6px;
         display: block;
      }
   }

   
}

.line{
   background-color: rgb(247, 247, 247);
   width: 2px;
}

.title {
   font-weight: 600;
   padding-bottom: 10px;
}


.payment_methods {
   padding-bottom: 30px;
}


.img_payment {
   display: flex;
   justify-content: space-between;
   gap: 20px;
   padding-top: 6px;

   img {
      width: 50px;
   }
}

.img_follow {
   display: flex;
   justify-content: flex-start;
   gap: 20px;
   padding-top: 6px;

   img {
      width: 40px;
   }
}

.contend_footer_second {
   display: flex;
   justify-content: space-between;
   padding-top: 60px;
}