.footer {
   background-color: rgba(32, 32, 32, 1);
   position: relative;
   padding: 30px 0 15px 0;

   .line-red-footer {
      background-color: #DC5353;
      height: 2px;
      position: absolute;
      top: 5px;
      left: 0;
      width: 100%;
   }

   .container__layout {
      padding-inline: 10px;

      .contend_footer_first {
         display: flex;
         justify-content: space-between;
         flex-direction: column;

         .logo {
            width: 90px;
            margin-bottom: 16px;

            img {
               width: 100%;
            }
         }

         .options {
            display: flex;
            flex-direction: column;

            .option {
               margin-top: 16px;

               .list {
                  display: flex;
                  flex-direction: column;
                  gap: .5rem;
               }
            }
         }

         .line {
            background-color: rgb(247, 247, 247);
            width: 2px;
         }

         .extra {
            .payment_methods {
               padding-bottom: 30px;
               margin-top: 10px;

               .img_payment {
                  display: flex;
                  justify-content: flex-start;
                  gap: 1rem;
                  padding-top: 6px;

                  .img_payment__provider {
                     width: 40px;
                  }
               }
            }


            .img_follow {
               display: flex;
               justify-content: flex-start;
               gap: 20px;
               padding-top: 6px;

               .img_follow__social {
                  width: 32px;
               }
            }
         }
      }

      .contend_footer_second {
         display: flex;
         justify-content: space-between;
         padding-top: 2rem;
         flex-direction: column;
         text-align: center;
      }
   }

   .title {
      font-weight: 600;
   }
}

@media screen and (min-width:768px) {
   .contend_footer_first {
      display: flex !important;
      flex-direction: row !important;
   }

   .options {
      flex: 1 !important;
      flex-direction: row !important;
      justify-content: center !important;
      gap: 3.5rem;
   }

   .payment_methods,
   .follow_us {
      margin-left: 32px;
   }

   .title {
      padding-bottom: 1rem;
   }
}