<footer class="bg-[#202020] text-white flex justify-between p-5 border-t-[#DC5353] border-t-4">

  <div class="logo"></div>

  <section class="options grid grid-cols-3 gap-10">

    <!-- MENU -->
    <ul>
      <ion-text class="font-semibold mb-4">MENÚ</ion-text>
      @for (item of menu; track $index) {
        <li>{{ item.name }}</li>
      }
    </ul>

    <!-- MY ACCOUNT -->
    <ul>
      <ion-text class="font-semibold mb-4">MI CUENTA</ion-text>
      @for (item of account; track $index) {
        <li>{{ item.name }}</li>
      }
    </ul>

    <!-- INFORMATION -->
    <ul>
      <ion-text class="font-semibold mb-4">INFORMACIÓN</ion-text>
      @for (item of information; track $index) {
        <li>{{ item.name }}</li>
      }
    </ul>


  </section>

  <section class="extra">

    <!-- PAYMENT METHODS -->
    <div>
      <ion-text>FORMAS DE PAGO</ion-text>
      <div></div>
    </div>

    <!-- FOLLOW US -->
    <div>

    </div>
  </section>

</footer>