<footer class="footer">
  <div class="line-red-footer"></div>

  <div class="container__layout">

    <section class="contend_footer_first">

      <div class="logo">
        <img
          src="/assets/logo.png"
          alt="Logo"
          height="90px"
          height="90px"
        />
      </div>

      <section class="options">

        <!-- MENU -->
        <div>
          <p class="title pointer">MENÚ</p>
          <ul>
            @for (item of menu; track $index) {
              <li class="pointer">
                {{ item.name }}
              </li>
            }
          </ul>
        </div>

        <!-- MY ACCOUNT -->
        <div>
          <p class="title pointer">MI CUENTA</p>
          <ul>
            @for (item of account; track $index) {
              <li class="pointer">
                {{ item.name }}
              </li>
            }
          </ul>
        </div>

        <!-- INFORMATION -->
        <div>
          <p class="title pointer">INFORMACIÓN</p>
          <ul>
            @for (item of information; track $index) {
              <li class="pointer">
                {{ item.name }}
              </li>
            }
          </ul>
        </div>

      </section>

      <div class="line"></div>

      <section class="extra">

        <!-- PAYMENT METHODS -->
        <div class="payment_methods">
          <p class="title">FORMAS DE PAGO</p>
          <div class="img_payment">
            <img
              class="img_payment__provider"
              width="40px"
              height="28px"
              src="/assets/visa.svg"
              alt="Visa"
            />
            <img
              class="img_payment__provider"
              width="40px"
              height="28px"
              src="/assets/mastercard.svg"
              alt="Mastercard"
            />
            <img
              class="img_payment__provider"
              width="40px"
              height="28px"
              src="/assets/american-express.svg"
              alt="American Express"
            />
          </div>
        </div>

        <!-- FOLLOW US -->
        <div class="follow_us">
          <p class="title">SIGUENOS</p>
          <div class="img_follow">
            <img
              class="img_follow__social"
              width="32px"
              height="32px"
              src="/assets/facebook.svg"
              alt="Facebook Logo"
            />
            <img
              class="img_follow__social"
              width="32px"
              height="32px"
              src="/assets/whatsapp.svg"
              alt="Whatsapp Logo"
            />
          </div>
        </div>
      </section>

    </section>

    <section class="contend_footer_second">
      <p>Copyright © {{ year }} Chifa Palacio Chino Premium - Todos los derechos reservados.</p>
      <p>Powered by CLAY SYSTEM</p>
    </section>


  </div>

</footer>
