table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;

  thead {
    background-color: #f2f2f2;

    th {
      padding: 10px;
      text-align: left;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid #f2f2f2;

      td {
        padding: 10px;
      }
    }
  }
}