<section class="modal__container">
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Price</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      @for (product of products(); track product.id) {
      <tr>
        <td>{{ product.name }}</td>
        <td>S/{{ product.price | number: '1.2-2' }}</td>
        <td>
          <ion-toggle
            [checked]="checked(product.categories)"
            (ionChange)="onChange($event,product)" />
        </td>
      </tr>
      }@empty {
      <div>
        No hay productos
      </div>
      }
    </tbody>
  </table>
</section>