.modal__header {
  padding: 1rem;

  &__title {
    text-transform: capitalize;
  }

  ion-searchbar {
    --padding: 0;
    padding: 0;
  }
}

.modal__container {
  padding: 1rem;


  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

    thead {
      background-color: #f2f2f2;

      th {
        padding: 10px;
        text-align: left;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid #f2f2f2;

        td {
          padding: 10px;
        }
      }
    }
  }
}