.category {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  padding: .5rem 1rem;
  border-radius: .5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;

  &__icon {
    width: 35px;
    height: 35px;
  }

  &__name {
    display: flex;
    align-items: center;
    flex: 1;
  }

  &-options {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}