@import './../../scss/admin.scss';

.orders {
  gap: 1.5rem;
  max-height: calc(100vh - 68px);
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 3rem;
}

.empty {
  text-align: center;
  display: flex;
  justify-content: center;

  &__label {
    font-size: 1.2rem;
    font-weight: 600;
  }
}