@import './../../scss/admin.scss';

.orders {
  gap: 1.5rem;
  max-height: calc(100vh - 180px);
  padding-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1.5rem;
  width: 100%;
}

.empty {
  text-align: center;
  display: flex;
  justify-content: center;

  &__label {
    font-size: 1.2rem;
    font-weight: 600;
  }
}