:host {
  overflow-y: scroll;
  height: calc(100vh - 88px);

  &::-webkit-scrollbar {
    width: 5px;
    display: block;
  }

  &::-webkit-scrollbar-thumb {
    background: #acacac;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
  }
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}