.modal__content {
  padding: 24px;
}

.addresses {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .address {
    display: flex;
    gap: 1rem;

    &__content {
      display: flex;
      flex-direction: column;
      gap: .5rem;
    }
  }
}