.wrapper {
   margin-top: var(--header-mobile);
   border-radius: 30px;
   display: flex;
   flex-direction: column;
   padding: 1rem;

   .title {
      font-weight: 700;
      display: flex;
      align-items: center;
      gap: 1rem;
   }
}

.inputs_form {
   display: flex;
   flex-direction: column;
   gap: 30px;
   margin-bottom: 40px;
   margin-top: 1rem;

   .inputs__row {
      display: flex;
      flex-direction: column;
      gap: 1rem;
   }
}

input,
select {
   border: 2px solid black;
   border-radius: 10px;
   padding: 8px 0;
   padding: 10px 10px;
}

.content_button {
   display: flex;
   width: 200px;
   margin: auto;
}