<header-mobile />

<section class="wrapper">
   <h2 class="title">
      <ion-icon
         (click)="onBack()"
         class="icon-back"
         name="arrow-back-outline" />
      Mis Datos
   </h2>

   <article class="inputs_form">
      <input
         [(ngModel)]="fullName"
         placeholder="Nombre"
         type="text">

      <div class="inputs__row">
         <input
            (isValid)="validFields.email = $event"
            [(ngModel)]="email"
            class="inputs__row__input"
            inputType="email"
            inputValidator
            placeholder="Correo Electrónico"
            type="text">

         <input
            (isValid)="validFields.phone = $event"
            [(ngModel)]="phone"
            class="inputs__row__input"
            [maxlength]="9"
            inputType="tel"
            inputValidator
            placeholder="Celular"
            type="tel">
      </div>
   </article>

   @if (valueChanges()) {
   <lib-button
      (onAction)="onUpdate()"
      [disabled]="busy || !areValidFields()"
      class="button content_button">
      @if (busy) {
      <ion-spinner name="crescent" />
      }@else {
      Actualizar
      }
   </lib-button>
   }
</section>