<div class="my_data">
   <h2 class="title">Mis datos</h2>

   <div class="inputs_form">
      <input
         type="text"
         placeholder="Nombre"
         [(ngModel)]="fullName">
      <div class="inputs_second">
         <input
            type="text"
            placeholder="Correo Electrónico"
            [(ngModel)]="email">

         <input
            type="tel"
            placeholder="Celular"
            [maxlength]="9"
            [(ngModel)]="phone">
      </div>
   </div>

   @if (valueChanges()) {
   <lib-button
      (onAction)="onUpdate()"
      [disabled]="busy"
      class="button content_button">
      @if (busy) {
      <ion-spinner name="crescent" />
      }@else {
      Actualizar
      }
   </lib-button>
   }
</div>