.my_data {
   border-radius: 30px;
   display: flex;
   flex-direction: column;

   .title {
      font-weight: 600;
   }
}

.inputs_form {
   display: flex;
   flex-direction: column;
   gap: 30px;
   margin-bottom: 40px;
   margin-top: 1rem;

   .inputs_second {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
   }
}

input,
select {
   border: 2px solid black;
   border-radius: 10px;
   padding: 8px 0;
   padding: 10px 10px;
}

.content_button {
   display: flex;
   width: 200px;
   margin: auto;
}