<main>

  <h2 class="delivery_areas">ZONAS DE REPARTO</h2>


  <section class="content_delivery">
    @for (deliveryZone of deliveryZones; track $index) {
    <div class="cart_delivery">
      <div class="title_cart">
        {{ deliveryZone.district }}
      </div>

      <div class="delivery_schedule">
        <p class="title_delivery_schedule">
          Horario de reparto:
        </p>
        <p>De lunes a domingo</p>
        <p>{{ deliveryZone.schedule }}</p>

        <button class="button__delivery_schedule">
          PEDIR AHORA
        </button>
      </div>

    </div>
    }
  </section>

  <section>
    <div class="map">
      @defer (on viewport) {
        <store-map />
      }@placeholder {
        <div>Loading</div>
      }@loading {
        Loading...
      }
    </div>
  </section>


</main>