<section class="delivery__type">
  <h4 class="title">
    Tipo de entrega
  </h4>

  <section class="delivery__types">
    @for (option of deliveryTypeOptions; track $index) {
    <div
      (click)="deliveryType.set(option.id)"
      class="option"
      aria-label="Seleccionar método de pago"
      [ngClass]="{'selected' : option.id === deliveryType()}">
      {{ option.name }}
    </div>
    }
  </section>

  @if (deliveryType() === 'delivery') {
  <section class="payment__method">
    <h4 class="title">
      Método de pago
    </h4>
    <div class="payment__methods">
      @for (method of paymentMethods; track $index) {
      <button
        (click)="paymentMethod.set(method.id)"
        class="option"
        aria-label="Seleccionar método de pago"
        [ngClass]="{'selected' : method.id === paymentMethod()}">
        {{ method.name }}
      </button>
      }
    </div>
  </section>
  }

</section>