$header-height: 117px;

.container__wrapper {
  display: flex;
  gap: 80px;
  justify-content: space-between;
  padding-top: 3rem;
}

.content {
  flex: 1;
  width: 900px;
}

.side-menu {
  width: 20%;
}