.header {
  display: none;
}

.profile__container {
  width: 100vw;
  height: calc(100vh - 120px);
  overflow: hidden;

  .profile__wraper {
    max-width: 1200px;
    margin: auto;
    display: flex;
    height: 100%;
    padding-top: 2rem;
  }

  .profile__content {
    flex: 1;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    border-radius: 1rem;
  }
}


@media screen and (min-width: 768px) {
  .header {
    display: block;
  }

  .profile__wraper {
    gap: 1rem;

    .side-menu {
      width: 250px;
    }

    .profile__content {
      // padding-inline: .5rem;
      // padding-bottom: 1rem;
    }
  }

}