.main-content {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 100%;

  .information {
    display: flex;
    gap: .5rem;
    font-size: 1.4rem;
    font-weight: 600;
  }

  &__options {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    align-items: center;
    gap: .9rem;

    .option {
      font-size: 1.1rem;
      font-weight: 500;
      cursor: pointer;
    }

    .option:hover{
      color: #F23545;
    }
    

  }
  .btn-logout {
    margin-top: auto;
    cursor: pointer;
  }
}