<section class="wrapper">
  <section class="banner">
    <article class="banner__content">
      <img src="/assets/logo.png" alt="Logo Palacio Chino Premium">
      <h2>PALACIO CHINO PREMIUM</h2>
    </article>
  </section>

  <section class="data">
    <img
      class="logo"
      src="/assets/galery-banner1.png"
      alt="Logo">
    <div class="data__user">
      <h2>Vision</h2>
      <p>
        “Para los próximos años llegar a ser una empresa posicionada en el
        mercado, con el reconocimiento de nuestros clientes por brindarles la
        excelencia en productos y servicios.”
      </p>
    </div>
  </section>
</section>
