<div class="wrapper">

  <section class="data">
    <img src="/assets/user.svg" alt="icon-user">
    <div class="data__user">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt voluptate quidem, aliquam ex quia doloribus ratione ea similique tempore, adipisci dolorem corporis, illo tenetur itaque blanditiis odit soluta delectus doloremque.</p>
    </div>
  </section>

  <section class="banner">
    <article class="banner__content">
      <img src="/assets/logo.png" alt="Logo Palacio Chino Premium">
      <h2>PALACIO CHINO PREMIUM</h2>
    </article>
  </section>
<!--
  <section class="our-numbers">
    <h2>Nuestros números</h2>
    <div class="our-numbers__content">
      <article class="item-data">
        <div class="item-data__title">
          Usuarios
        </div>
        <div class="item-data__content">
          <div class="item-data__content__numbers">
            <img src="/assets/user.svg" alt="icon-user">
            <p>+ 250</p>
          </div>
          <p class="text">Usuarios registrados</p>
        </div>
      </article>

      <article class="item-data">
        <div class="item-data__title">
          Productos
        </div>
        <div class="item-data__content">
          <div class="item-data__content__numbers">
            <img src="/assets/img-carta.svg" alt="icon-platos">
            <p>+ 58</p>
          </div>
          <p class="text">Productos registrados</p>
        </div>
      </article>

      <article class="item-data">
        <div class="item-data__title">
          Ventas
        </div>
        <div class="item-data__content">
          <div class="item-data__content__numbers">
            <img src="/assets/icon-ventas.svg" alt="icon-ventas">
            <p>+ 450</p>
          </div>
          <p class="text">Ventas registradas</p>
        </div>
      </article>
    </div>
  </section> -->
</div>
