<section class="form">
  <p>
    Registrar producto
  </p>

  <div class="row">
    <image-uploader
      (onChange)="onFileChange($event)" />
  </div>

  <div class="row">
    <label for="name">
      Nombre
    </label>
    <input id="name" type="text" [(ngModel)]="name">
  </div>

  <div class="row">
    <label for="price">
      Precio
    </label>
    <input
      id="price"
      type="number"
      inputmode="decimal"
      [(ngModel)]="price">
  </div>

  <div class="row">
    <label for="description">
      Descripción
    </label>
    <textarea id="description" [(ngModel)]="description">
    </textarea>
  </div>

  <lib-button (onAction)="onCreate()">
    Crear
  </lib-button>
</section>