/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './theme/fix-structure.scss';
@import './theme/popover-classes.scss';
@import './theme/utils.scss';

.page_wrapper_header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 50;
  background-color: white;
  box-shadow: 0 10px 25px -5px rgb(0 0 0 / 0.1)
}

.page-content-wrapper {
  min-height: 100vh;
}

.page_wrapper_footer {
  color: #f1f1f1;
  padding-top: 30px;
}

.container__layout {
  max-width: 1360px;
  margin: auto;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container__layout {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .container__layout {
    padding-left: 20px;
    padding-right: 20px;
  }
}