<article class="order__item" (click)="onAction()">
  <div class="order__header">
    <p class="order__total">Total:
      <span class="order__total-value">
        S/ {{ order().total | number: '1.2-2' }}
      </span>
    </p>
  </div>
  <div class="order__date">
    {{ order().createdAt | date:'dd/mm/YYYY hh:mm a' }}
  </div>
  <div class="order__user">
    {{ order().user.name }}
    {{ order().user.email }}
  </div>
  <div class="order__status">
    <span class="status__label {{ order().status}}">
      {{ order().formatedStatus }}
    </span>
  </div>
</article>
