.page-content-wrapper {
   min-height: 100vh;
}

@media screen and (max-width: 1024px) {
   .page-content-wrapper {
      width: 92%;
      margin: 0 auto;
   }
}

.page_wrapper_header {
   position: fixed;
   top: 0px;
   width: 100%;
   z-index: 50;
   background-color: white;
   box-shadow: 0 10px 25px -5px rgb(0 0 0 / 0.1)
}



.page_wrapper_footer {
   color: #f1f1f1;
   padding-top: 30px;
}