<main>

   <section class="info_local">
      <h2>LOCAL</h2>
      <div class="content_info_local">
         <div class="image_local">
            <img src="/assets/product-image.png" alt="Local"> 
         </div>
         <div class="content_info">
            <p>Av.Republica de Uruguay N°908<br> Junin - Huancayo</p>
            <p><strong>Telefono:</strong> 987654321</p>
            <h3>LOCAL/PARA LLEVAR:</h3>
            <p>11: 00am - 10:00pm</p>
            <h3>RECOJO EN TIENDA: </h3>
            <p>web y call  11:00am - 9:30pm</p>
            <h3>DELIVERY WEB/CALL:</h3>
            <p>11:00am - 10:00pm</p>
            <button>
               Ordenar pedido
            </button>
         </div>
      </div>
   </section>

   <section class="how_to_get">
      <h2>COMO LLEGAR</h2>
      <div class="map">
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.7745470334758!2d-75.20487062536573!3d-12.059027342128305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x910e9635440c8a4b%3A0x5f68b088a072f7f7!2sChifa%20Palacio%20Chino%20Premium!5e0!3m2!1ses!2spe!4v1707238957251!5m2!1ses!2spe" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
         </iframe>
       </div>
   </section>

</main>
