main {
   margin-top: 3rem;
   padding-inline: 1rem;
}

.info_local {
   h2 {
      font-weight: 700;
      width: fit-content;
      margin: auto;
      margin-bottom: 50px;
   }
}

.content_info_local {
   display: flex;
   flex-direction: column;
   align-items: stretch;
   justify-content: space-evenly;
   gap: 3rem;

   .image_local {
      width: 100%;

      img {
         width: 100%;
      }
   }

   .content_info {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 30px;
      padding: 2rem 1rem;
      text-align: center;

      p {
         padding-bottom: 25px;
      }

      p:first-child {
         font-weight: 600;
      }

      h3 {
         font-weight: 600;
         padding-bottom: 5px;
      }

      button {
         background-color: #F23545;
         border-radius: 30px;
         color: white;
         padding: 10px 40px;
      }

      button:hover {
         background-color: #ef1628;
      }
   }
}

.how_to_get {
   margin-top: 5rem;

   h2 {
      font-weight: 700;
      width: fit-content;
      margin: auto;
      margin-bottom: 50px;
   }
}


@media screen and (min-width: 501px) {
   main{
      padding-inline: 0 !important;
   }
}

@media screen and (min-width: 768px) {
 .content_info_local{
   flex-direction: row;
   align-items: center;

   .image_local{
      width: 50%; 
   }
 }

}

@media screen and (min-width: 1024px) {
   .image_local{
      width: 460px !important;
   }
   .content_info{
      padding: 2rem 4rem !important;
   }
   h2{
      margin-bottom: 5rem !important;
   }
}

@media screen and (min-width: 1360px) {

}