<main class="main_content">

  <section class="image_galery">
    <img src="/assets/background-auth.png" alt="">
    <img src="/assets/empty-image.png" alt="">
    <img src="/assets/product-image.png" alt="">
  </section>

  <section class="content_history">
    <div class="content_history__image">
      <img class="img_1" src="/assets/empty-image.png" alt="">
      <img class="img_2" src="/assets/background-auth.png" alt="">
      <img class="img_3" src="/assets/product-image.png" alt="">
    </div>
    <div class="content_history__content">
      <p>Palacio Chino Premium</p>
      <h2>DESDE</h2>
      <h2 id="date">2012.</h2>
      <p class="history_local">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem, dolor natus cumque repudiandae temporibus quis aperiam ipsam laboriosam asperiores consequatur, quos corporis quas quaerat neque maxime perspiciatis laudantium repellat fugiat.</p>
    </div>
  </section>

  <section class="owner_story">
    <div class="owner_story__content">
      <h2>FUNDADOR</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio exercitationem esse nisi blanditiis iste neque quaerat, hic nesciunt est, ullam perferendis sint minima qui ducimus ratione quis! Eaque, ducimus praesentium.</p>
      <section class="button">
        <div class="line"></div>
        <button class="button__menu">
          VER MENÚ
        </button>
      </section>
    </div>
    <img src="/assets/empty-image.png" alt="image">
  </section>
</main>
