<main class="main_content">

  <section class="image_galery">
    <img src="/assets/galery-banner2.jpg" alt>
    <img src="/assets/galery-banner1.png" alt>
    <img src="/assets/galery-banner3.jpg" alt>
  </section>

  <section class="content_history">
    <div class="content_history__image">
      <img class="img_1" src="/assets/img-galery1.jpg" alt>
      <img class="img_2" src="/assets/img-galery4.jpg" alt>
      <img class="img_3" src="/assets/img-galery2.jpg" alt>
    </div>
    <div class="content_history__content">
      <p>Palacio Chino Premium</p>
      <h2>DESDE</h2>
      <h2 id="date">2017.</h2>
      <p class="history_local">Se inaguro el una empresa que se dedica a la
        elaboración y preparación de alimentos, especializada en comida típica
        tradicional de China e internacional. Manejamos altos estándares de
        calidad en todos los procesos de los alimentos con el fin de brindarle
        la comida más saludable y deliciosa a nuestros clientes.</p>
    </div>
  </section>

  <section class="owner_story">
    <div class="owner_story__content">
      <h2>FUNDADOR</h2>
      <p>
        OSCAR RAÚL GOÑI MEDRANO, un apasionado emprendedor con un amor por la
        gastronomía, siempre había soñado con llevar los sabores exóticos del
        este asiático a las mesas de Huancayo, Perú. Desde joven, había quedado
        cautivado por la complejidad y la armonía de los platos orientales, y
        con el tiempo, este interés se convirtió en su misión de vida.
      </p>
      <p>
        Después de años de trabajar en diversos restaurantes y adquirir
        conocimientos culinarios, Oscar Raúl finalmente decidió dar el paso y
        materializar su sueño. Con determinación y coraje, fundó su propio
        restaurante de comida oriental en el corazón de Huancayo. El local,
        modesto pero acogedor, se convirtió rápidamente en un lugar de encuentro
        para los amantes de la gastronomía, así como para aquellos que
        simplemente buscaban una experiencia culinaria diferente.
      </p>
      <section class="button">
        <div class="line"></div>
        <a (click)="onHome()" class="button__menu">
          VER MENÚ
        </a>
      </section>
    </div>
    <img class="img_founder" src="/assets/empty-image.png" alt="image">
  </section>
</main>
