<header class="header">
  <section class="header__content">
    <h2>Bienvenido <strong>Royer Perez</strong></h2>
    <div class="header__content__data">
      <section class="items_data">
        <h2>250</h2>
        <div class="items_data__title">
          <img src="/assets/user.svg" alt="icon-user">
          <p>Usuarios</p>
        </div>
      </section>
      <section class="items_data">
        <h2>58</h2>
        <div class="items_data__title">
          <img src="/assets/img-carta.svg" alt="icon-carta">
          <p>Platos</p>
        </div>
      </section>
      <section class="items_data">
        <h2>450</h2>
        <div class="items_data__title">
          <img src="/assets/icon-ventas.svg" alt="icon-ventas">
          <p>Ventas</p>
        </div>
      </section>
    </div>
  </section>
</header>
